.sorcery-list-screen-root {
    display: grid;

    @media screen and (min-width: 1025px) {
        grid-template-columns: 12rem auto;
    }
    @media screen and (min-width: 1201px) {
        grid-template-columns: 16rem auto;
    }
    @media screen and (min-width: 1441px) {
        grid-template-columns: 20rem auto;
    }
    @media screen and (min-width: 1921px) {
        grid-template-columns: 24rem auto;
    }
}
