.talents-view {
    padding: 0 1rem;
}

ul.talent-ranks {
    list-style: none;
}

li.talent-rank {
    text-indent: -1em;
}

li.rank-i > .bullet {
    margin-left: -0.5rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}

li.rank-ii > .bullet {
    margin-left: -0.5rem;
    padding-right: 0.4375rem;
    padding-left: 0.4375rem;
}

li.rank-iii > .bullet {
    margin-left: -0.5rem;
    padding-right: 0.325rem;
    padding-left: 0.325rem;
}

li.rank-iv > .bullet {
    margin-left: -0.5rem;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}

li.rank-v > .bullet {
    margin-left: -0.5rem;
    padding-right: 0.375rem;
    padding-left: 0.375rem;
}
