@import '~@blueprintjs/core/lib/scss/variables';

.main {
}

.screen-root {
    padding-top: 50px;
    min-height: 100vh;
    background-color: $pt-app-background-color;

    .#{$ns}-dark & {
        background-color: $pt-dark-app-background-color;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: $pt-divider-black;

    .#{$ns}-dark & {
        background-color: $pt-dark-divider-black;
    }
}
